<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Quiz Master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome to Quiz Master</h2>
        <h3 class="subheading">Registration</h3>

        <form method="POST">
            {{ form.hidden_tag() }}

            <label for="username">User Name (E-mail):</label>
            {{ form.username }}

            <label for="password">Password:</label>
            {{ form.password }}

            <label for="full_name">Full Name:</label>
            {{ form.full_name }}

            <label for="qualification">Qualification:</label>
            {{ form.qualification }}

            <label for="dob">Date of Birth:</label>
            {{ form.dob }}

            <br>
            <div class="form-buttons">
                {{ form.submit(class="btn") }}
                <a href="{{ url_for('login') }}" class="existing-user-btn">Existing user?</a>
            </div>
        </form>
    </div>
</body>
</html>
